<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feature Vote Login</title>
    <script th:replace="fragments/header :: headerElement" ></script>

    <script type="text/javascript">
        $(function () {
            $("#createAccount").click(function() {
                window.location.href = "/register"
            })
        })

    </script>
</head>
<body>
<!--    <div th:replace="fragments/header :: header"></div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" ><img src="/images/header_logo.png"/></a>
    <!--            <a class="navbar-brand" href="/" >Feature Vote</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

    <div class="container">
        <div class="card" style="margin-top: 1.5em">
            <div class="card-header"><h2>Please Login</h2></div>
            <div class="card-body">
                <form action="" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div th:if="${param.error !=null}">
                        <div class="alert alert-danger" role="alert">
                            Failed to login.
                        </div>

                        <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                            Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message != null}"></span>
                        </div>
                    </div>

                    <div th:if="${param.logout !=null}">
                        <div class="alert alert-success" role="alert">
                            You have been logged out.
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="username" class="col-12 col-sm-3 col-form-label">Username</label>
                        <div class="col-12 col-sm-9">
                            <input type="text" class="form-control" id="username" name="username"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-12 col-sm-3 col-form-label">Password</label>
                        <div class="col-12 col-sm-9 ">
                            <input type="password" class="form-control" id="password" name="password"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success">Log in</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-info float-right" id="createAccount">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
</body>
</html>